{% layout 'layout.liquid' %}
{% block content %}

    <div class="container-sm">
        <form action="/cookies/{{cookie.id}}?_method=PUT" method="POST">
            <fieldset>
                <legend>Edit {{ cookie.name }}</legend>
                <label class="form-label">Name: </label>
                <input
                    class="form-control"
                    type="text"
                    name="name"
                    placeholder="enter the name of the cookie"
                    value="{{ cookie.name }}""
                >
                <label class="form-label">Calories: </label>
                <input
                    class="form-control"
                    type="number"
                    name="calories"
                    min="0"
                    value="{{ cookie.calories}}"
                >
                <label class="form-label">Sweet</label>
                <input
                    class="form-check-input"
                    type="checkbox"
                    name="isSweet"
                    {% if cookie.isSweet %}
                        checked
                    {% endif %}
                >
                <br>
                <label class="form-label">Best eaten cold</label>
                <input
                    class="form-check-input"
                    type="checkbox"
                    name="isEatenCold"
                    {% if cookie.isEatenCold %}
                        checked
                    {% endif %}
                >
            </fieldset>
            <input
                class="btn btn-success"
                type="submit"
                value="Edit {{ cookie.name }}"
            >
        </form>
    </div>

{% endblock %}