{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-md">
        <article>
            <h2>{{cookie.name}}</h2>
            <h4>
                {% if cookie.isSweet %}
                    Sweet
                {% else %}
                    Salty
                {% endif %} 
            </h4>
            <h4>{{cookie.calories}} calories per cookie</h4>
            <h5>This cookie is best eaten 
                {% if cookie.isEatenCold %}
                    cold!
                {% else %}
                    warm!
                {% endif %} 
            </h5>
            {% if cookie.owner == userId %}
                <div class="btn-group">
                    <!-- first button will send us to edit page -->
                    <a class="btn btn-primary" href="/cookies/edit/{{cookie.id}}">Edit</a>
                    <!-- second button which will actually be a form, will send a DELETE request -->
                    <!-- default action for a form is a POST, need to method override it and set it to DELETE-->
                    <form action="/cookies/{{cookie.id}}?_method=DELETE">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            {% endif %}
        </article>
        <hr>
        {% if loggedIn %}
        <div class="col-md-6">
            <form action="/comments/{{cookie.id}}" method="POST">
                <fieldset>
                    <legend>Add comments about this cookie</legend>
                    <label class="form-label">Comment: </label>
                    <input type="text" class="form-control mb-2" placeholder="enter your comment..." name="note" required>
                </fieldset>
                <input class="btn btn-success" type="submit" value="Add Comment">
            </form>
        </div>
        {% else %}
        <div class="col-md-6">
            Please create an account or log in if you'd like to leave a comment.
        </div>
        {% endif %}
        <hr>
        {% if cookie.comments.length > 0 %}
        <div class="container-sm" justify-content-center>
            <div class="col-md-8 col-lg-6">
                {% for comment in cookie.comments %}
                    {% render '../comment.liquid', comment: comment, userId: userId, cookie: cookie %}
                {% endfor %}
            </div>
        </div>
        {% else %}
        <small>no comments yet...</small>
        {% endif %}
    </div>

{% endblock %}